name: Windows (x64)

on:
  push:
      branches: 
        - "*"
      tags:
        - "*"
    
  pull_request:
      branches: 
        - "*"

jobs:
  build-shared:
    name: Shared Library
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Configure Build (MD)
        run: cmake -G "Visual Studio 17 2022" -A "X64" -S "${{ github.workspace }}" -B "${{ github.workspace }}/cmake-build" -DCMAKE_TOOLCHAIN_FILE="${Env:VCPKG_INSTALLATION_ROOT}/scripts/buildsystems/vcpkg.cmake" -DVCPKG_TARGET_TRIPLET=x64-windows -DCMAKE_INSTALL_PREFIX="${{ github.workspace }}/install" -DCMAKE_MSVC_RUNTIME_LIBRARY="MultiThreaded$<$<CONFIG:Debug>:Debug>DLL" -DCMAKE_VERBOSE_MAKEFILE=YES -DBUILD_SHARED_LIBS=ON -DBUILD_TESTING=YES -DENABLE_SDL_UI=ON

      - name: Build Debug
        run: cmake --build "${{ github.workspace }}/cmake-build" --config "Debug" --parallel

      - name: Run Unit Tests
        run: ctest --test-dir "${{ github.workspace }}/cmake-build" --verbose --build-config "Debug"

      - name: Build Release
        run: cmake --build "${{ github.workspace }}/cmake-build" --config "Release" --parallel

      - name: Install
        run: |
          cmake --build "${{ github.workspace }}/cmake-build" --config "Debug" --target INSTALL
          cmake --build "${{ github.workspace }}/cmake-build" --config "Release" --target INSTALL

      - name: Download Presets
        run: |
          curl -L https://github.com/projectM-visualizer/presets-milkdrop-original/archive/refs/heads/master.zip -o presets.zip
          Expand-Archive -Path presets.zip -DestinationPath .
          New-Item -ItemType Directory -Force -Path "${{ github.workspace }}/install/share/projectM/presets"
          Copy-Item -Path presets-milkdrop-original-master/* -Destination "${{ github.workspace }}/install/share/projectM/presets" -Recurse -Force
          Remove-Item presets-milkdrop-original-master -Recurse -Force
          Remove-Item presets.zip

      - name: Install NSIS
        run: |
          choco install nsis -y
          echo "C:\Program Files (x86)\NSIS" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Create Installer Package
        run: |
          cd "${{ github.workspace }}/cmake-build"
          cpack -C Release -G NSIS

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
            name: projectm-windows-shared-latest
            path: install/*

      - name: Upload Installer
        uses: actions/upload-artifact@v4
        with:
            name: projectm-windows-installer
            path: cmake-build/projectM-*.exe

  build-static:
    name: Static Library
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Configure Build (MD)
        run: cmake -G "Visual Studio 17 2022" -A "X64" -S "${{ github.workspace }}" -B "${{ github.workspace }}/cmake-build" -DCMAKE_TOOLCHAIN_FILE="${Env:VCPKG_INSTALLATION_ROOT}/scripts/buildsystems/vcpkg.cmake" -DVCPKG_TARGET_TRIPLET=x64-windows-static -DCMAKE_INSTALL_PREFIX="${{ github.workspace }}/install" -DCMAKE_MSVC_RUNTIME_LIBRARY="MultiThreaded$<$<CONFIG:Debug>:Debug>" -DCMAKE_VERBOSE_MAKEFILE=YES -DBUILD_SHARED_LIBS=OFF -DBUILD_TESTING=YES -DENABLE_SDL_UI=ON

      - name: Build Debug
        run: cmake --build "${{ github.workspace }}/cmake-build" --config "Debug" --parallel

      - name: Run Unit Tests
        run: ctest --test-dir "${{ github.workspace }}/cmake-build" --verbose --build-config "Debug"

      - name: Build Release
        run: cmake --build "${{ github.workspace }}/cmake-build" --config "Release" --parallel

      - name: Install
        run: |
          cmake --build "${{ github.workspace }}/cmake-build" --config "Debug" --target INSTALL
          cmake --build "${{ github.workspace }}/cmake-build" --config "Release" --target INSTALL

      - name: Download Presets
        run: |
          curl -L https://github.com/projectM-visualizer/presets-milkdrop-original/archive/refs/heads/master.zip -o presets.zip
          Expand-Archive -Path presets.zip -DestinationPath .
          New-Item -ItemType Directory -Force -Path "${{ github.workspace }}/install/share/projectM/presets"
          Copy-Item -Path presets-milkdrop-original-master/* -Destination "${{ github.workspace }}/install/share/projectM/presets" -Recurse -Force
          Remove-Item presets-milkdrop-original-master -Recurse -Force
          Remove-Item presets.zip

      - name: Install NSIS
        run: |
          choco install nsis -y
          echo "C:\Program Files (x86)\NSIS" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Create Installer Package
        run: |
          cd "${{ github.workspace }}/cmake-build"
          cpack -C Release -G NSIS

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: projectm-windows-static-latest
          path: install/*

      - name: Upload Installer
        uses: actions/upload-artifact@v4
        with:
          name: projectm-windows-static-installer
          path: cmake-build/projectM-*.exe
